{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}
<div class="homepage-holder">

  <div class="homepage-bg-img1"></div>
  <div class="shelter-for-bg1" id="shelter-for-bg1"></div>


  <div class="homepage-maintitle homepage-elements">
      <div class="homepage-maintitle-name">
          Enlighten a Sustainable Future
      </div>
      <div class="homepage-contents-style" style="margin-top:40px;text-align:center;">
          LAMPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Luminous Algae Material Presenting System
      </div>
  </div>


  <div class="homepage-content-img1 homepage-elements reveal" id="homepage-content-img1"></div>
  <div class="homepage-content-img2 homepage-elements reveal" id="homepage-content-img2"></div>
  <div class="shelter-for-canvas-start"></div>


  <div class="homepage-content1 homepage-elements reveal" id="homepage-content1">
      <div class="homepage-subtitle-style" style="width:319px;">
          Bioluminescence
      </div>
      <div class="homepage-contents-style" style="width:315.521px;margin-top:50px;">
          As amazing creatures that have evolved billions of years in our biosphere...<br><br><br>
          Noctiluca scintillans proliferate in the East China Sea<br><br><br>
          Giving our coastline this fantastic sight "blue tears"
      </div>
  </div>


  <div class="homepage-content2 homepage-elements reveal" id="homepage-content2" style="height:300px;">
      <div class="homepage-subtitle-style" style="width:415px;">
          Mechanism
      </div>
      <div class="homepage-contents-style" style="width:415px">
          Blue tears use solar energy to fix carbon dioxide and provide light, 100% biodegradable.
      </div>
      <div style="margin-top:10px;">
          <a href="{{ url_for('pages', page='design') }}"><img src="https://static.igem.wiki/teams/4594/wiki/hompage-add10.png" alt="Learn More >"></a>
      </div>
  </div>


  <div class="homepage-bg-img2"></div>


  <div class="homepage-content-img3 homepage-elements reveal" id="homepage-content-img3"></div>
  <div class="homepage-content-img4 homepage-elements reveal" id="homepage-content-img4"></div>


  <div class="homepage-content3 homepage-elements reveal" id="homepage-content3">
      <div class="homepage-contents-style" style="margin-top:0px;">
          &nbsp;&nbsp;&nbsp;&nbsp;Fluorescence
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;
          Photosynthesis
      </div>
  </div>


  <div class="homepage-content4 homepage-elements reveal">
      What if
      <span style="font-family:'Courier New', Courier, monospace">?</span>
  </div>


  <div class="homepage-content-img5 homepage-elements reveal"></div>


  <div class="homepage-content5 homepage-elements reveal">
      <div class="homepage-contents-style" style="margin-top:0px;">
          If using this algae to provide light, we will reduce carbon emissions and help carbon neutrality!
      </div>
  </div>
  <div class="homepage-content6 homepage-elements reveal">
      <div class="homepage-contents-style" style="margin-top:0px;width:300px;">
          However, the luminous intensity is too low, and the conditions to culture them are too complicated to simulate.
      </div>
  </div>
  <div class="homepage-content7 homepage-elements reveal">
      <div class="homepage-contents-style" style="margin-top:0px;width:300px;">
          Fortunately, synthetic biology has made it possible - we can synthesize our own noctilucent algae.
      </div>
  </div>


  <div class="homepage-content-img6 homepage-elements"></div>


  <div class="homepage-content8 homepage-elements reveal">
      Then <br>
      Introducing
  </div>


  <div class="homepage-content-img7"></div>
  <div class="homepage-content9"></div>


  <div class="homepage-content10 homepage-elements">
      <div class="homepage-contents-style" style="margin-top:0px;text-align:center;">
          Luminous Algae Material Presenting System
      </div>
  </div>


  <div class="homepage-content-img8 homepage-elements reveal" id="homepage-content-img8"></div>
  <div class="homepage-content-img9 homepage-elements reveal" id="homepage-content-img9"></div>
  <div class="homepage-content-img10 homepage-elements reveal" id="homepage-content-img10"></div>
  <div class="homepage-content-img11 homepage-elements reveal" id="homepage-content-img11"></div>


  <div class="homepage-content11 homepage-elements reveal" id="homepage-content11">
      <div class="homepage-subtitle-style">
          Glowing Liquid
      </div>
      <div class="homepage-contents-style">
          Suitable for a variety of design and decoration needs.
      </div>
  </div>
  <div class="homepage-content12 homepage-elements reveal" id="homepage-content12">
      <div class="homepage-subtitle-style">
          Natural Rhythm
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Goes out during the day and lights up at night.
      </div>
  </div>
  <div class="homepage-content13 homepage-elements reveal" id="homepage-content13">
      <div class="homepage-subtitle-style">
          Autosynthesis
      </div>
      <div class="homepage-contents-style" style="width:304px;">
          Sustainable and economical solutions for long-term and large-scale applications.
      </div>
  </div>
  <div class="homepage-content14 homepage-elements reveal" id="homepage-content14">
      <div class="homepage-subtitle-style">
          Bio<span style="font-family:'Courier New', Courier, monospace;font-weight:800;">-</span>Degradable
      </div>
      <div class="homepage-contents-style">
          100% degradable in the natural environment.
      </div>
  </div>


  <div class="homepage-content15 homepage-elements reveal">
      <span style="font-family:'Courier New', Courier, monospace">#</span>Sustainable
  </div>


  <div class="homepage-bg-img3"></div>


  <div class="homepage-content-img12 homepage-elements">
      <a href="{{ url_for('pages', page='human-practices') }}" style="text-decoration:none;">
          <div></div>
      </a>
  </div>
  <div class="homepage-content-img13 homepage-elements reveal" id="homepage-content-img13"></div>
  <div class="homepage-content-img14 homepage-elements reveal" id="homepage-content-img14"></div>
  <div class="homepage-content-img15 homepage-elements reveal" id="homepage-content-img15"></div>
  <div class="homepage-content-img16 homepage-elements reveal" id="homepage-content-img16"></div>


  <div class="homepage-content16 homepage-elements reveal">
      <div class="homepage-contents-style">
          WHO: Climate crisis could undo the gains over the past half century.
      </div>
  </div>
  <div class="homepage-content17 homepage-elements reveal" id="homepage-content17">
      <div class="homepage-subtitle-style">
          LED Pollution
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          LEDs contain a variety of materials, usually bonded with adhesives and foams, difficult to separate and recycle.
      </div>
  </div>
  <div class="homepage-content18 homepage-elements reveal" id="homepage-content18">
      <div class="homepage-subtitle-style">
          Fossil Energy
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Fossil fuels are mainly used for electricity generation. Saving electricity for lighting reduces greenhouse gas emissions.
      </div>
  </div>
  <div class="homepage-content19 homepage-elements reveal">
      <div class="homepage-contents-style" style="margin-top:0px;">
          We need sustainable lighting solutions, a pollution-free lighting method not using limited resources.
      </div>
  </div>
  <div class="homepage-content20 homepage-elements reveal" id="homepage-content20">
      <div class="homepage-contents-style" style="margin-top:0px;">
          Based on biotechnology, using solar energy as the main energy source, LAMPS glows without increasing pollution.
      </div>
  </div>
  <div class="homepage-content21 homepage-elements reveal" id="homepage-content21">
      <div class="homepage-contents-style" style="margin-top:0px;">
          The full life-cycle of production-use-waste LAMPS is virtually carbon free and can even produce negative carbon emissions.
      </div>
  </div>


  <div class="homepage-content-img17 homepage-elements"></div>
  <div class="homepage-content-img18 homepage-elements"></div>
  <div class="homepage-content-img19 homepage-elements"></div>
  <div class="homepage-content-img20 homepage-elements"></div>
  <div class="homepage-content-img21 homepage-elements"></div>
  <div class="homepage-content-img22 homepage-elements"></div>
  <div class="homepage-content-img23 homepage-elements"></div>
  <div class="homepage-content-img24 homepage-elements"></div>
  <div class="homepage-content-img25 homepage-elements"></div>
  <div class="homepage-content-img26 homepage-elements"></div>
  <div class="homepage-content-img27 homepage-elements"></div>
  <div class="homepage-content-img28 homepage-elements"></div>
  <div class="homepage-content-img29 homepage-elements"></div>
  <div class="homepage-content-img30 homepage-elements"></div>
  <div class="homepage-content-img31 homepage-elements"></div>
  <div class="homepage-content-img32 homepage-elements"></div>


  <div class="homepage-content22 homepage-elements reveal">
      <span style="font-family:'Courier New', Courier, monospace">#</span>Application
  </div>
  <div class="homepage-content23 homepage-elements reveal">
      <div class="homepage-contents-style" style="margin-top:0px;width:460px;">
          We found a lot of promising and interesting scenarios for our technology.
      </div>
  </div>
  <div class="homepage-content24 homepage-elements reveal">
      <div class="homepage-subtitle-style">
          Ambient Lighting
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Ambiance lighting for weddings/ events/private villas.
      </div>
  </div>
  <div class="homepage-content25 homepage-elements revealDelay1">
      <div class="homepage-subtitle-style">
          Water Entertainment
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Water park's new water toys, light-up swimming ring/water volleyball.
      </div>
  </div>
  <div class="homepage-content26 homepage-elements reveal">
      <div class="homepage-subtitle-style">
          Ground Signs
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Road signs on park trails and exhibition venues.
      </div>
  </div>
  <div class="homepage-content27 homepage-elements revealDelay2">
      <div class="homepage-subtitle-style">
          Design Capacity
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Installation art, costume design, experimental materials.
      </div>
  </div>
  <div class="homepage-content28 homepage-elements reveal">
      <div class="homepage-subtitle-style">
          Electric Safety
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Lighting near water and flammable places. No power safety problems.
      </div>
  </div>
  <div class="homepage-content29 homepage-elements reveal">
      <div class="homepage-subtitle-style">
          Architecture Material
      </div>
      <div class="homepage-contents-style" style="margin-top:10px;">
          Building materials providing more natural lighting and biological light for the interior.
      </div>
  </div>


  <div class="homepage-content30 homepage-elements reveal">
      <span>Products</span><span style="font-family:'Courier New', Courier, monospace;">&</span><span>O</span><span style="font-family:'Courier New', Courier, monospace;">ff</span><span>ers</span>
  </div>


  <div class="homepage-link1 homepage-elements reveal">
      <a href="{{ url_for('pages', page='model') }}" onmouseover="expandFunc1(document.getElementById('homepage-link-img1'))" onmouseout="reduceFunc1(document.getElementById('homepage-link-img1'))">
          <div class="homepage-link-img1" id="homepage-link-img1"></div>
          <span class="homepage-subtitle-style" style="margin-left:30px;">Models</span>
          <span style="width:15px;height:15px;"><img src="https://static.igem.wiki/teams/4594/wiki/link-image4.png" alt=">"></span>
          <!-- <div class="homepage-contents-style" style="margin-left:30px;margin-right:30px;margin-top:5px;">基于LAMPS开发的产品模型，以及周边检测维护装置；</div> -->
      </a>
  </div>
  <div class="homepage-link2 homepage-elements reveal">
      <a href="{{ url_for('pages', page='education') }}" onmouseover="expandFunc2(document.getElementById('homepage-link-img2'))" onmouseout="reduceFunc2(document.getElementById('homepage-link-img2'))">
          <div class="homepage-link-img2" id="homepage-link-img2"></div>
          <span class="homepage-subtitle-style" style="margin-left:30px;">Education</span>
          <span style="width:15px;height:15px;"><img src="https://static.igem.wiki/teams/4594/wiki/link-image4.png" alt=">"></span>
          <!-- <div class="homepage-contents-style" style="margin-left:30px;margin-right:30px;margin-top:5px;">基于LAMPS开发的产品模型，以及周边检测维护装置；</div> -->
      </a>
  </div>
  <div class="homepage-link3 homepage-elements reveal">
      <a href="{{ url_for('pages', page='human-practices') }}" onmouseover="expandFunc3(document.getElementById('homepage-link-img3'))" onmouseout="reduceFunc3(document.getElementById('homepage-link-img3'))">
          <div class="homepage-link-img3" id="homepage-link-img3"></div>
          <span class="homepage-subtitle-style" style="margin-left:30px;">Human Practices</span>
          <span style="width:15px;height:15px;"><img src="https://static.igem.wiki/teams/4594/wiki/link-image4.png" alt=">"></span>
          <!-- <div class="homepage-contents-style" style="margin-left:30px;margin-right:30px;margin-top:5px;">基于LAMPS开发的产品模型，以及周边检测维护装置；</div> -->
      </a>
  </div>


  <div class="bottom-icon1 homepage-elements reveal" id="bottom-icon1"></div>
  <div class="bottom-icon2 homepage-elements revealDelay3"></div>
  <div class="bottom-icon3 homepage-elements revealDelay4"></div>
  <div class="bottom-icon4 homepage-elements revealDelay5"></div>
  <div class="bottom-icon5 homepage-elements revealDelay6"></div>



  <canvas id="tutorial"></canvas>

</div>
