{% extends "layout.html" %}

{% block title %}Implementation{% endblock %}

{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}
<div class="titledParagraph" style="background-color:#badff1">
  <span class="pTitle">PRODUCTION</span>
  <p>
    Our team had the opportunity to work with the Liu lab (Prof. George Liu, University of California, San Diego, Chief, Division of Pediatrics Infectious Diseases), focusing on infectious diseases in UCSD. Our lab mentor, April *, was able to advise us throughout our project, assisting with sequencing, plasmid design, and more.
  </p>
  <img src="static/image/implementation.png">
</div>

<div class="titledParagraph" style="background-color:#ffffff">
  <span class="pTitle">CHALLENGES</span>
  <p>
    The main challenges that we faced were finding a lab that would cater to our needs and designing the complex plasmid for our project. Another obstacle we faced is understanding the intricate composition of biofilm and the protection it offers for the bacteria inside it, as a result we had to pivot many times to find a way to degrade it and stop it from reforming.

  </p>
  </div>

  <div class="titledParagraph" style="background-color:#a2d69c">
    <span class="pTitle">END USERS</span>
    <p>
      This project is targeted towards those who have bacterial acne, specifically C. Acnes based.
    </p>
    </div>

    <div class="titledParagraph" style="background-color:#badff1">
      <span class="pTitle">REFERENCES</span>
      <p>
        
      </p>
      </div>

 


{% endblock %}