{% extends "layout.html" %}

{% block title %}Medal Criteria{% endblock %}

{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}
<div class="titledParagraph" style="background-color:#badff1">
  <span class="pTitle">PRODUCTION</span>
  <p>

  </p>
</div>

<div class="titledParagraph" style="background-color:#ffffff">
  <span class="pTitle">CHALLENGES</span>
  <p>
    
  </p>
  </div>

  <div class="titledParagraph" style="background-color:#a2d69c">
    <span class="pTitle">END USERS</span>
    <p>
      
    </p>
    </div>

    <div class="titledParagraph" style="background-color:#fffbe0">
      <span class="pTitle">REFERENCES</span>
      <p>
        
      </p>
      </div>

 


{% endblock %}