{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}

{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}
<div class="titledParagraph" style="background-color:#badff1">
  <span class="pTitle">PROBLEM</span>
  <p>
    Acne is a large problem in many individuals lives: According to a survey we took over 75% of teens with acne
    struggle with body image issues and mental health issues due to it. It is our goal to make kids feel more
    comfortable in their skin and understand why certain treatments aren't working quickly and effectively. Biofilm
    prevents topical creams and antibiotics from effectively working on acne. Our team is working to create and enzyme
    which can degrade the biofilm to make topicals more susceptible
  </p>
</div>

<div class="titledParagraph" style="background-color:#badff1">
<span class="pTitle">INSPIRATION</span>
<p>
  As high school students, acne is a common part of our lives. It oftentimes makes teenagers like us feel self-conscious
  in our own skin. Topical treatments oftentimes are ineffective and antibiotics, though proven to kill bacteria in lab,
  takes months to be effective on skin. Our team wanted to understand why these treatments take are ineffective or take
  a long time to work. By researching C. acnes, we discovered bacterial biofilm to be the primary reason for
  unsuccessful treatment.
</p>
</div>

<div class="titledParagraph" style="background-color:#ffffff">
  <span class="pTitle">SYNTHETIC BIO APP</span>
  <p>
    
  </p>
  </div>

  <div class="titledParagraph" style="background-color:#a2d69c">
    <span class="pTitle">FUTURE GOALS</span>
    <p>
      
    </p>
    </div>

    <div class="titledParagraph" style="background-color:#badff1">
      <span class="pTitle">REFERENCES </span>
      <p>
        
      </p>
      </div>


{% endblock %}