{% extends "layout.html" %}

{% block title %}Project Background{% endblock %}

{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}

<div class="titledParagraph" style="background-color:#a2d69c">
  <span class="pTitle">BACKGROUND</span>
<p>Cutibacterium acnes (C. acnes) is a prevalent cause of skin infections and is the major causative agent in common acne vulgaris[1,2]. Cutibacterium acnes isone of the most common forms of acne, affecting over 45 million individuals in the United States alone, 9.4% of the world’s population, particularly adolescents. It is estimated that as many as 80% of adolescents develop acne, and 20% of all visits to the dermatologists are to seek care for acne. In addition to acneiform role, C. acnes is also implicated in other infections. As many as 10-40% of early postoperative infections have C. acnes as a causative agent. C. acnes is also found as a source in neurosurgical infections of ventricular shunts, the rate ranges from 1.5-38%. Addressing C. acnes infections is further complicated by a significant degree of antimicrobial resistance with some estimates that as many as 50.5% of patients with C. acnes were resistant to one or more antibiotics. Other infections caused by C.</p>
<p>acnes include bone and joint infections, endocarditis and endophthalmitis [3-6]. 
  Furthermore, acne vulgaris contributes to psychological distress, such as reduced mental health and self-esteem. This can further lead to the suffering of adolescents all across the United States. C. acnes, like several other bacteria, creates a protective biofilm on the skin, hindering the effectiveness of topical treatments for acne vulgaris. This makes infections more difficult to treat and prevents topical agents from being widely effective on C. acnes-induced acne. Biofilm is composed of microbial cells and extracellular polymeric substances (EPS). EPS, which is composed of 62.6% polysaccharides is quite hardy and affords protection of the bacteria. By manipulating the innate carbohydrate degradation of C. acnes, the degradation of the extracellular matrix through the decomposition of carbohydrates is promoted.</p>
  <p>This study aims to genetically manipulate C. acnes to degrade biofilm by breaking down carbohydrates and inhibiting the GLMU pathway preventing it from producing EPS. Gut microbiota have been successfully manipulated to consume and degrade carbohydrates at a faster pace. GAPDH is a gene that causes degradation of carbohydrates commonly in various organisms[9,11] . Using a plasmid that increases gene expression of the GAPDH gene, will result in a decrease in the biofilm production[7,8,10].</p>

  </div>

  <div class="titledParagraph" style="background-color:#badff1">
    <span class="pTitle">REFERENCES</span>
    <p>
      Aubin, G G et al. “Propionibacterium acnes, an emerging pathogen: from acne to
      implant-infections, from phylotype to resistance.” Medecine et maladies
      infectieuses vol. 44,6 (2014): 241-50. doi:10.1016/j.medmal.2014.02.00
      2. Fidsa, N. M. K. M. P. F. (n.d.). Cutibacterium (Propionibacterium) infections:
      background, epidemiology, pathophysiology.
      https://emedicine.medscape.com/article/226337-overview
      3. Frohnmeyer, Esther et al. “Secretome profiling of Propionibacterium
      freudenreichii reveals highly variable responses even among the closely related
      strains.” Microbial biotechnology vol. 11,3 (2018): 510-526.
      doi:10.1111/1751-7915.13254
      
      4. O'Neill, Alan M et al. “Genetic and Functional Analyses of Cutibacterium Acnes
      Isolates Reveal the Association of a Linear Plasmid with Skin Inflammation.” The
      Journal of investigative dermatology vol. 144,1 (2024): 116-124.e4.
      doi:10.1016/j.jid.2023.05.029
      5. Gannesen, Andrei V et al. “Composition of the Biofilm Matrix of Cutibacterium
      acnes Acneic Strain RT5.” Frontiers in microbiology vol. 10 1284. 21 Jun. 2019,
      doi:10.3389/fmicb.2019.01284
      6. Holland, Carsten et al. “Proteomic identification of secreted proteins of
      Propionibacterium acnes.” BMC microbiology vol. 10 230. 27 Aug. 2010,
      doi:10.1186/1471-2180-10-230
      7. Cavallo, Ilaria et al. “Skin dysbiosis and Cutibacterium acnes biofilm in
      inflammatory acne lesions of adolescents.” Scientific reports vol. 12,1
      21104. 6 Dec. 2022, doi:10.1038/s41598-022-25436-3
      8. Roy, Ranita et al. “Strategies for combating bacterial biofilms: A focus on
      anti-biofilm agents and their mechanisms of action.” Virulence vol. 9,1 (2018):
      522-554. doi:10.1080/21505594.2017.1313372
      9. GAPDH glyceraldehyde-3-phosphate dehydrogenase [Homo sapiens (human)] - Gene -
      NCBI. (n.d.). https://www.ncbi.nlm.nih.gov/gene/2597
      10.Yin, Wen et al. “Ways to control harmful biofilms: prevention, inhibition, and
      eradication.” Critical reviews in microbiology vol. 47,1 (2021): 57-78.
      doi:10.1080/1040841X.2020.1842325
      11.Madureira, Pedro et al. “Streptococcus agalactiae GAPDH is a
      virulence-associated immunomodulatory protein.” Journal of immunology
      (Baltimore, Md. : 1950) vol. 178,3 (2007): 1379-87.
      doi:10.4049/jimmunol.178.3.1379
    </p>
  </div>

 


{% endblock %}