{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}

{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{%
endblock %}

{% block page_content %}
<div class="titledParagraph" style="background-color:#badff1">
  <span class="pTitle">PROBLEM</span>
  <p>
    Acne is a large problem in many individuals lives: According to a survey we took over 75% of teens with acne struggle with body image issues and mental health issues due to it. It is our goal to make kids feel more comfortable in their skin and understand why certain treatments aren’t working quickly and effectively. Biofilm prevents topical creams and antibiotics from effectively working on acne.  Impacting the structure and rigidity of the biofilm is necessary for enhancing the value of acne treatments, as well as further leading to improved skin appearance and overall acne management. 
    Our team is working to create and enzyme which can degrade the biofilm to make topicals more relyable and efficient. 
  </p>
</div>

<div class="titledParagraph" style="background-color:#badff1">
<span class="pTitle">INSPIRATION</span>
<p>
  As high school students, acne is a common part of our lives. It oftentimes makes teenagers like us feel self-conscious in our own skin. Topical treatments oftentimes are ineffective and antibiotics, though proven to kill bacteria in lab, takes months to be effective on skin. Our team wanted to understand why these treatments take are ineffective or take a long time to work. By researching C. acnes, we discovered bacterial biofilm to be the primary reason for unsuccessful treatment. 
</p>
</div>

<div class="titledParagraph" style="background-color:#ffffff">
  <span class="pTitle">SYNTHETIC BIO APP</span>
  <p>
    Our experiment involves designing and synthesizing a synthetic biofilm to test if and how the PFK1 enzyme in C acnes can degrade the biofilm. By constructing a plasmid for PFK1 we use the Design, Build, and Test cycle to create a synthetically engineered bacteria which allows us to target biofilm and synthetically degrade it. 
  </p>
  </div>

  <div class="titledParagraph" style="background-color:#a2d69c">
    <span class="pTitle">FUTURE GOALS</span>
    <p>
      This study aims to genetically manipulate C. acnes biofilm by breaking down carbohydrates.  This will be done by using a plasmid to produce the enzyme Phosphofructokinase, a catalyst of glycolysis. Since the biofilm is made up of over 50% carbohydrates, increasing the glycolytic activity of C. acnes by inserting a catalyst will allow for degradation of the biofilm. In the future, we aim to utilize a hydrogel to be our enzymatic transporter to administer this catalyst to C. acnes. 
    </p>
    </div>

    <div class="titledParagraph" style="background-color:#badff1">
      <span class="pTitle">REFERENCES </span>
      <p>
        <pre>
        Heng AHS, Chew FT. Systematic review of the epidemiology of acne vulgaris. Sci Rep. 2020 Apr 1;10(1):5754. doi: 10.1038/s41598-020-62715-3. PMID: 32238884; PMCID: PMC7113252.  
        Kolar SL, Tsai CM, Torres J, Fan X, Li H, Liu GY. Propionibacterium acnes-induced immunopathology correlates with health and disease association. JCI Insight. 2019;4(5):e124687. Published 2019 Mar 7. doi:10.1172/jci.insight.124687  
        Coenye T, Spittaels KJ, Achermann Y. The role of biofilm formation in the pathogenesis and antimicrobial susceptibility of Cutibacteriumacnes. Biofilm. 2021;4:100063. Published 2021 Dec 9. doi:10.1016/j.bioflm.2021.100063 
        Li Y, Ni M. Regulation of biofilm formation in Klebsiella pneumoniae. Front Microbiol. 2023;14:1238482. Published 2023 Sep 7. doi:10.3389/fmicb.2023.1238482 
        Wang X, Liu M, Yu C, Li J, Zhou X. Biofilm formation: mechanistic insights and therapeutic targets. Mol Biomed. 2023;4(1):49. Published 2023 Dec 15. doi:10.1186/s43556-023-00164-w 
        Gannesen AV, Zdorovenko EL, Botchkova EA, et al. Composition of the Biofilm Matrix of Cutibacterium acnes Acneic Strain RT5. Front Microbiol. 2019;10:1284. Published 2019 Jun 21. doi:10.3389/fmicb.2019.01284 
        Rimon A, Rakov C, Lerer V, et al. Topical phage therapy in a mouse model of Cutibacterium acnes-induced acne-like lesions. Nat Commun. 2023;14(1):1005. Published 2023 Feb 22. doi:10.1038/s41467-023-36694-8 
        Kuehnast T, Cakar F, Weinhäupl T, et al. Comparative analyses of biofilm formation among different Cutibacterium acnes isolates. Int J Med Microbiol. 2018;308(8):1027-1035. doi:10.1016/j.ijmm.2018.09.005 
        Wang S, Zhao Y, Breslawec AP, et al. Strategy to combat biofilms: a focus on biofilm dispersal enzymes. NPJ Biofilms Microbiomes. 2023;9(1):63. Published 2023 Sep 7. doi:10.1038/s41522-023-00427-y 
        Ghalsasi VV, Sourjik V (2016) Engineering Escherichia coli to Disrupt Poly-N-Acetylglucosamine Containing Bacterial Biofilms. Curr Synthetic Sys Biol 4: 130. doi:10.4172/2332-0737.1000130 
      </pre>
      </p>
      </div>


{% endblock %}