.homepage-bg-img1{
    position: absolute;
    z-index: 0;
    width: 1300px;
    height: 1167.231px;
    /* flex-shrink: 0; */
    top: 0;
    /* box-shadow: inset 120px 0px 70px -30px #00001a, inset -120px 0px 70px -30px #00001a; */
    background: url("https://images.unsplash.com/photo-1595433707802-6b2626ef1c91?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.home-page-container {
    position: relaative;
    background-color: #00001a; /* Black container background */
    color: #fff; /* Light text color */
    width: max(100%);
    margin: 0 auto;
    flex-shrink: 0;
    top: 0;
    padding: 20px;
    height: 14500px;
    display: flex; /* Use flexbox */
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* z-index: 6; */
    box-shadow: inset 120px 0px 70px -30px #00001a, inset -120px 0px 70px -30px #00001a;

}


.homepage-bigtitle{
    top: 170px;
    width: 1300px;
    height: 400px;
    position: absolute;
    z-index: 3
}

.homepage-bigtitle-name{
    margin: 0 auto;
    margin-top: 10px;
    width: 1300px;
    height: 200px;
    color: #00001a;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
}


