ul {    
    position:relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    z-index:10;
    font-size: large;


}
ul li {
    margin: 0 15px; 
   
}
ul li a {
    color: white;  
    text-decoration: none;  
    font-size: 20px;  /* Increase font size */
}
ul li a:hover {
    color: rgb(0, 13, 255);  
}