@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

ul {    
    position:relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    align-items: center;
    justify-content: center;
    background: rgb(226, 222, 222);
    z-index:10;
    font-size: large;


}
ul li {
    margin: 0 15px; 
    display: flex; /*if anything weird happens with the navbar this is prob why*/
    align-items: center;
    color:white;
    transition:all .5s;
    cursor:pointer;
}

.transP5
{
    transition: all .5s;
}


ul li span
{
    transition: all .5s;
}

ul li a {
    color: white;  
    text-decoration: none;  
    font-size: 20px;  /* Increase font size */
    transition:all .5s;
}
ul li a:hover {
    color: rgb(0, 13, 255);  
}


ul li:hover
{
    background-color: rgb(199,199,199);
}
.DropDownWrapper
{
    position: absolute;
    top: 30px;
    background-color: #636363;
    display: none;
    transition: all .5s;
    transform:translateX(-25%);
}

.isDrop:hover .dropTriangle
{
    transform: rotate(180deg);
}

.isDrop:hover .DropDownWrapper
{
    display: grid;
    filter:opacity(1)
}