
.left-aligned { align-items: center; }
.bg-dark { background-color: #343a40 !important; }
.bg-hero { background-color: #45b06cff; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }

body
{
    background-color: #fffbe0;
}

.titledParagraph
{
    padding:5px;
    position: relative;
    border: 1px solid black;
    margin-top: 100px;
}

.titledParagraph img
{
    width:100%;
    padding-top: 40px;
}

.titledParagraph p
{
    padding-top: 35px;

}

.pTitle
{
    background-color: #bf604d;
    border-radius: 50px;
    padding: 12px;
    color:#f6cb44;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 50px;
    font-weight: 700;
    position:absolute;
    left:10px;
    top:-40px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}

.teamPhoto
{
    width:100%;
}

.mainCard
{
    position:relative;
    height:400px;
    width:300px;
    perspective: 1000px;
    border-radius: 10px;
}

.cardHold
{
    transform-style: preserve-3d;
    position:relative;
    transition: all .5s;
    background-color: transparent;
    height:100%;
    width:100%;
    box-shadow: 8px 18px 7px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    border-radius: 10px;
}

.cardFront
{
    backface-visibility: hidden;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
}

.cardBack
{
    height:100%;
    position:absolute;
    width:100%;
    background-color: #93fe7e;
    backface-visibility: hidden;
    padding:5px;
    left:0;
    top:0;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: inset 0 0 20px 3px #22910c;
    transition: all .5s;
}

.mainCard:hover .cardHold
{
    transform:rotateY(540deg);
}

.mainCard:hover .cardBack
{
    box-shadow: rgba(226, 196, 3, 0.619) 0 0 8px 8px;
}

#deckHolder
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}